# Deployment env variables

# Server Information
DEPLOY_SERVER_HOST=134.209.199.99
DEPLOY_SERVER_USER=root
DEPLOY_SERVER_PATH=/var/www/english-tester.com

# Cloudflare Configuration
CLOUDFLARE_ZONE_ID=123...
CLOUDFLARE_API_TOKEN=456...


# Test generation env variables

# Default Docker Postgres and PGAdmin login creds
DB_USER=myuser
DB_HOST=localhost
DB_NAME=mydb
DB_PASSWORD=mypassword
DB_PORT=5432


# Production build env variables

# Website name used across website
NEXT_PUBLIC_SITE_NAME=English Tester

# Used for precise OG image URLs
NEXT_PUBLIC_SITE_URL=https://english-tester.com

# Google Analytics key
NEXT_PUBLIC_GA_ID=...